{
  "extends": "airbnb",
  "rules": {
    "react/prefer-stateless-function": "off",
    "react/jsx-filename-extension": "off",
    "react/jsx-no-bind": "off"
  },
  "overrides": [
    {
      "files": [ "*test.js" ],
      "env": {
        "browser": true,
        "mocha": true
      },
      "rules": {
        "no-console": "off"
      }
    }
  ]
}
